.header {
    width: 100%;
    height: 90px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;

    border-bottom: 1px solid $accentColor;

    &.sticky {
        @media (min-width: 1200px) and (max-width:1920px) {
            animation: stickyHeader 0.6s ease-out forwards;

            @keyframes stickyHeader {
                from {
                    opacity: 0;
                    transform: translateY(50px);
                }

                50% {
                    transform: none;
                    opacity: 0.08;
                }

                to {
                    opacity: 1;
                    background: #262527d3;
                }
            }

            position: fixed;
            z-index: 2;
            backdrop-filter: blur(4px);
            height: 60px;
        }
    }

    .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .logo {
        font-size: 30px;
    }

    a,
    button {
        height: 100%;
    }

    &__submenu {
        height: 100%;
        display: flex;

        li {
            height: 100%;
        }

        a,
        button {
            border-right: 1px solid $accentColor;
        }
    }

    &__address {
        padding: 0 40px;

        address {
            display: none;
            margin-left: 22px;
            font-size: 12px;
        }

        &:hover address {
            display: initial;
        }
    }

    .icon-mapPin {
        font-size: 24px;
    }

    &__phone {
        padding: 0 40px;

        i {
            font-size: 25px;
            display: none;
        }
    }

    &__openMenuBtn {
        padding: 0 20px 0 40px;
        border-right: 1px solid $accentColor;

        div {
            margin-left: 25px;
            display: flex;
            flex-direction: column;
        }

        .icon-menu {
            font-size: 5px;
            transition: transform 0.1s;

            &:nth-of-type(2) {
                margin: 6px auto;
            }
        }

        &:hover {
            .icon-menu {
                transform: translateX(2px)
            }

            i:nth-of-type(2) {
                transform: translateX(-4px);
            }
        }
    }

    @media screen and (max-width: $desktopWidth) {
        .container {
            padding-right: 0;
        }

        &__openMenuBtn {
            padding-right: 40px;
            border: none;
        }
    }

    @media screen and (max-width: 992px) {
        &__phone {
            span {
                display: none;
            }

            i {
                display: initial;
            }
        }

        &__address:hover address {
            display: none;
        }
    }

    @media screen and (max-width: $smTableWidth),
    (orientation:landscape) and (max-width: 992px) {
        height: 60px;

        .logo {
            font-size: 22px;
            margin-right: 15px;
        }

        &__submenu {
            border-left: 1px solid $accentColor;
        }

        &__address {
            padding: 0;
            width: 60px;
        }

        &__phone {
            padding: 0;
            width: 60px
        }

        &__openMenuBtn {
            padding: 0 20px;

            div {
                margin-left: 0;
            }

            span {
                display: none;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .logo {
            font-size: 10px;
            transform: scaleY(1.8);
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        .logo {
            font-size: 5px;
            margin: 0 5px;
            transform: scaleY(3);
        }

        .container {
            padding-left: 0;
        }
    }
}