.intro {
    height: 800px;
    margin-top: 0;
    padding-top: 90px;

    background-image: url(../images/background/01introBg.webp);
    background-color: #000;
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: 100%;

    h1 {
        max-width: 600px;
        padding-top: 180px;
        margin-bottom: 20px;
    }

    .btn-solid {
        margin: 40px 0;
        width: 340px;
        height: 60px;
    }

    @media screen and (max-width: 992px) and (orientation: landscape) {
        height: 100vh;
        min-height: 400px;
        max-height: 520px;

        background-position: bottom -30px center, center;

        h1 {
            padding-top: 3vh;
            max-width: 500px;
            font-size: 30px;
        }
    }

    @media screen and (max-width: $tableWidth) and (orientation: landscape) {
        .btn-solid {
            margin: 10px 0;
            width: 250px;
        }
    }

    @media screen and (max-width: $smTableWidth) and (orientation: portrait) {
        height: 100vh;
        min-height: 570px;
        max-height: 820px;
        text-align: center;

        background: no-repeat url(../images/background/01introMobile.webp), linear-gradient(#000 70%, #0000 71%);
        background-position: bottom 140px center, center;
        background-size: 100% auto;

        .container {
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 34px;
            max-width: 100%;
            padding-top: 12vh;
            margin-bottom: 20px;
        }

        p:last-of-type {
            flex-grow: 1;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .btn-solid {
            width: 100%;
        }
    }

    @media screen and (max-width: 325px) and (orientation: portrait) {
        h1 {
            padding-top: 3vh;
        }
    }
}