.story {
    h2 {
        text-align: center;
    }

    p {
        margin: 0 auto;
        max-width: 760px;
        text-align: center;
        line-height: 1.85;

        &:last-of-type {
            margin-top: 40px;
        }
    }

    .line {
        margin-top: 80px;
    }

    @media screen and (max-width: $desktopWidth) {
        .line {
            margin-top: 60px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        p {
            text-align: left;
        }

        .line {
            margin-top: 40px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .line {
            margin-top: 20px;
        }
    }
}