.tiles {
    &__items {
        margin-top: 65px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        grid-gap: 75px;

        div {
            padding-left: 68px;
        }

        h3 {
            margin-bottom: 15px;
            line-height: 0;

            &::before {
                content: "\e905";
                font-family: 'icomoon';
                font-size: 60px;
                font-weight: 400;
                color: $accentColor;

                vertical-align: top;
                margin-left: -68px;
                margin-right: 20px;
                line-height: 20px;
            }
        }
    }

    @media screen and (max-width: $desktopWidth) {
        &__items {
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10vw;
        }
    }

    @media screen and (max-width: $tableWidth) {
        &__items {
            grid-template-columns: minmax(auto, 380px);
            grid-gap: 12vw;

            div {
                padding-left: 38px;
                padding-right: 0;
            }

            h3::before {
                font-size: 30px;
                margin-left: -38px;
                margin-right: 15px;
            }
        }
    }
}