.popUp {

    &__sliderSlide {
        width: 435px;
        background-color: $backgroundColor;
        box-shadow: 20px 20px 80px 0 #0003;
    }

    &__content {
        padding: 36px 47px 65px;
    }

    h3 {
        line-height: 60px;
        border-bottom: 1px solid $borderColor;
    }

    &__col {
        display: flex;
        align-items: center;
        justify-content: space-between;

        padding: 40px 0 30px;

        ul {
            display: none;
        }
    }

    &__openLink {
        display: inline-block;
        font-family: 'Georgia';
        font-weight: 700;
        font-style: italic;
        letter-spacing: 1.5px;
        text-transform: none;
    }

    &__price {
        font-size: 24px;
    }

    .btn-border {
        width: 100%;
        height: 56px;
    }

    // outer slider bar with numbers:
    .swiper-tumbnails {
        display: none;
    }
}






// Priduct card slider with thumbnails(only when product card opened):
.popUp_open {

    .popUp__sliderWrapper {
        transform: none !important;
    }

    .popUp__sliderSlide {
        overflow-y: auto;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;

        width: 100% !important;
        background: no-repeat url(../images/background/mainBg.jpg);
        background-size: 100%;
        background-position: center top;
    }

    .popUp__Wrapper {
        display: grid;
        grid-template: repeat(2, auto) / minmax(auto, 700px) auto;
        grid-auto-flow: column;

        justify-content: center;
        padding: 60px;
    }











    .swiper {
        overflow: hidden;
        align-self: start;

        padding: 30px 50px;

        // outline: 1px solid red;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            left: 60px;
            top: 40px;
            width: calc(100% - 100px);
            height: calc(100% - 60px);
            border: 1px solid $accentColor;
        }

        &:hover {
            cursor: zoom-in;
        }
    }

    .swiper-tumbnails {
        // grid align-self
        align-self: start;

        padding: 0 50px;
        margin-top: 50px;
        display: flex;
        gap: 2%;

        img {
            flex-grow: 1;
        }

        .swiper-pagination-bullet,
        span {
            height: 100%;
            border-radius: 0;
        }
    }

    .popUp__content {
        grid-row: 1 / -1;
        padding-top: 0;
        padding-left: 60px;

        .popUp__col {
            padding-top: 0;
            padding-right: 0;
        }

        ul {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 50px;

            li {
                padding: 10px 20px 10px 30px;
                border-bottom: 1px solid $borderColor;
                white-space: nowrap;
            }
        }
    }

    .popUp__openLink,
    .popUp__price {
        display: none;
    }

    .btn-border {
        float: right;
        width: 300px;
        margin-top: 50px;
    }

    h3 {
        border: none;
    }
}