.sliderPopup {

    margin-bottom: 200px;

    .containerFluid {
        margin-left: 300px;
        outline: 1px solid grey;
    }

    &__item {
        width: 435px;
        background-color: $backgroundColor;
        box-shadow: 20px 20px 80px 0 #0003;
    }

    .slider__inner {
        padding: 0 47px 50px;
    }

    h3 {
        line-height: 60px;
        border-bottom: 1px solid $borderColor;
    }

    a {
        display: inline-block;
    }

    .block {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    span {
        font-size: 24px;
    }

    .btn-border {
        width: 100%;
        height: 56px;
    }










    .swiper-container {
        outline: 1px solid white;
    }

    .swiper-wrapper {
        outline: 20px solid orange;
    }

    .swiper-scrollbar {
        margin-top: 100px;
        height: 10px;
        border: 1px solid white;
        border-radius: 5px;
    }

    .swiper-scrollbar-drag {
        height: 10px;
        border-radius: 5px;
        background: white;
    }

    .swiper-pagination {
        margin-top: 20px;
        position: static;
    }

    .swiper-pagination-current {
        color: orange;
    }

    .swiper-pagination-total {
        color: green;

    }
}

.popUp {
    transform: none !important;
}

.popUpActive {
    position: fixed;
    top: 100px;
    left: 400px;
    z-index: 1000;
    outline: 10px white;
}