.order {

    .container {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: calc(100% - 60px);
            height: 100%;
            margin: 0 30px;
            border: 1px solid $accentColor;
            transform: translate(-20px, -20px);
        }
    }

    &__wrapper {
        min-height: 458px;
        background-image: url(../images/sectionImages/order.jpg);
        background-size: contain;
        background-position: left top;
        background-repeat: no-repeat;
        background-color: #000;

        position: relative;
        border: 1px solid $accentColor;

        display: flex;
        justify-content: flex-end;
        padding: 50px 100px;
    }

    h2 {
        font-size: 28px;
    }

    p {
        margin-top: 30px;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }

    ul {
        margin-top: 15px;
    }

    .btn-solid {
        width: 250px;
        height: 60px;
        float: left;
        margin-top: 30px;
    }

    &__savings {
        max-width: 190px;
        margin-left: 40px;
        margin-top: 34px;

        float: left;

        font-family: 'Georgia';
        font-style: italic;
        color: $accentColor;
    }

    @media screen and (max-width: $desktopWidth) {
        &__wrapper {
            background-size: 100%;
            background-position: center bottom;
            padding: 50px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        .container::before {
            display: none;
        }

        &__wrapper {
            padding: 40px;
        }

        &__col {
            width: 100%;
        }

        h2 {
            margin: 0 auto 50px;
            font-size: 24px;
            text-align: center;
        }

        p {
            margin-left: 50px;
            max-width: 300px;
        }

        ul {
            margin-left: 50px;
        }

        .btn-solid {
            margin: 30px 0 30px 68px;
            float: unset;
        }

        &__savings {
            margin-left: 50px;
            float: unset;
            max-width: unset;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__wrapper {
            padding: 40px 15px;
            background: #000 no-repeat left bottom / 400px url(../images/sectionImages/order.jpg);
        }

        h2 {
            font-size: 20px;
        }

        p,
        ul {
            margin-left: 0px;
        }

        .btn-solid {
            margin: 30px 0 120px 0;
            width: 100%;
        }

        &__savings {
            margin-left: 0;
        }
    }
}