.cardsWho {
    ul {
        display: grid;
        grid-template: 1fr / repeat(4, minmax(200px, 240px));
        gap: 30px;
        justify-content: space-between;
        text-align: center;
    }

    i {
        display: block;
        font-size: 52px;
        margin-bottom: 15px;
    }

    @media screen and (max-width: $smDesktopWidth) {
        ul {
            grid-template: repeat(2, 1fr) / repeat(2, minmax(180px, 240px));
            justify-content: center;
            grid-column-gap: 16vw;
            grid-row-gap: 6vw;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        ul {
            grid-template: repeat(4, 1fr) / minmax(auto, 300px);
        }

        i {
            margin-bottom: 5px;
        }
    }
}