.accordion {
    .containerFluid {
        margin-left: -30px;
        max-width: 1760px;
        display: grid;
        grid-template-columns: 0.9fr 1fr;
        gap: 100px;
    }

    h2 {
        margin-top: -15px;
        max-width: 500px;
    }

    &__image {
        height: 100%;
        position: relative;
        background: no-repeat right bottom / cover url(../images/sectionImages/accordion.jpg);
    }

    &__imageFrame {
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $accentColor;
            transform: translate(20px, 20px);
        }
    }

    ul {
        margin-top: -40px;
    }

    li {
        padding-top: 20px;
        border-bottom: 1px solid $borderColor;
        cursor: pointer;

        @extend .no-select;

        p {
            height: 0;
            overflow: hidden;
            padding-top: 10px;
            padding-right: 80px;
        }

        &:hover {
            color: $accentColor;
            border-color: $accentColor;
        }

        &.open {
            min-height: 120px;

            &:hover {
                color: $defaultColor;
                border-color: $borderColor;
                cursor: default;
            }

            span {
                &::before {
                    color: $accentColor;
                }

                &::after {
                    color: transparent;
                }
            }

            p {
                height: initial;
            }
        }
    }

    span {
        display: block;

        font-size: 18px;
        font-weight: 500;
        letter-spacing: 0.5px;
        position: relative;

        &::before {
            content: '\e90b';
            font-family: icomoon;
            position: absolute;
            right: 30px;
            color: $accentColor;
            font-size: 20px;
            line-height: 20px;
            color: transparent;
        }

        &::after {
            content: '\e90c';
            font-family: icomoon;
            position: absolute;
            right: 30px;
            color: $accentColor;
            font-size: 20px;
            line-height: 20px;
        }
    }

    @media screen and (max-width: $desktopWidth) {
        .containerFluid {
            margin: 0;
            gap: 50px;
        }
    }

    @media screen and (max-width: $smDesktopWidth) {
        .containerFluid {
            gap: 30px;
        }

        &__imageFrame::before {
            display: none;
        }
    }

    @media screen and (max-width: 992px) {
        .containerFluid {
            grid-template: 200px 1fr / 1fr;
            gap: 50px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        h2 {
            max-width: 350px;
        }

        ul {
            margin-top: 0px;
        }

        span {
            font-size: 13px;

            &::before,
            &::after {
                right: 5px;
            }
        }
    }
}