.cardsOrder {
    &__cards {
        display: grid;
        grid-template: auto / repeat(3, 1fr 50px) 1fr;
    }

    &__cardsItem {
        background: $backgroundColor;
        box-shadow: 20px 20px 30px 0 #0004;
        border: 1px solid $accentColor;

        padding: 0 20px 20px 20px;
        counter-increment: cardsOrder;
        position: relative;

        &::before {
            content: '0'counter(cardsOrder);
            font-weight: 700;
            font-size: 72px;
            letter-spacing: 8px;
            color: transparent;
            -webkit-text-stroke: 1px $accentColor;
        }
    }

    &__arrow {
        background: no-repeat center/100% 20px url(../images/svg/arrowRight.svg);
        margin-top: 75px;
        height: 45px;
        transform: scaleX(1.9);
        z-index: 1;
    }

    h2 {
        margin-bottom: 75px;
        text-align: center;
    }

    .btn-border {
        display: flex;
        margin: 75px auto 0;
        width: 340px;
        height: 60px;
    }

    @media screen and (max-width: $smDesktopWidth) {
        &__cards {
            grid-template: 1fr 50px 1fr / 6fr 50px 6fr;
            grid-auto-flow: column;

            div:nth-child(2) {
                background: no-repeat center top 5px / 20px 80% url(../images/svg/arrowDown.svg);
                height: 45px;
                transform: scale(1, 2.5);
                margin-top: 0;
            }

            div:nth-child(4) {
                grid-area: 3 / 2 / -1 / 3;
            }

            div:nth-child(5) {
                grid-area: 3 / 3 / -1 / -1;
            }

            div:nth-of-type(6) {
                grid-area: 2 / 3 / 3 / -1;

                background: no-repeat center top 5px / 20px 80% url(../images/svg/arrowUp.svg);
                transform: scale(1, 2.5);
                margin-top: 0;
            }

            div:nth-of-type(7) {
                grid-area: 1 / 3 / 2 / -1;
            }
        }
    }

    @media screen and (max-width: $smTableWidth) {
        .container div {
            grid-area: unset;
        }

        &__cards {
            grid-template: repeat(3, 1fr 30px) 1fr / minmax(auto, 400px);
            grid-auto-flow: row;
            justify-content: center;

            div:nth-of-type(4),
            div:nth-of-type(2),
            div:nth-of-type(6) {
                background: no-repeat center top 7px / 18px 55% url(../images/svg/arrowDown.svg);
                transform: scale(1, 2.4);
                margin-top: 0;
            }
        }

        &__cardsItem {
            padding-bottom: 20px;

            &::before {
                font-size: 50px;
            }
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .btn-border {
            width: 100%;
        }
    }
}