.questionsForm {
    margin-bottom: 0;

    .container {
        padding-top: 80px;
        padding-bottom: 80px;
        display: grid;
        grid-template: auto / repeat(2, 1fr);
    }

    &__image {
        align-self: center;
        justify-self: center;
        width: 350px;
        height: 350px;
        border: 1px solid $accentColor;
    }

    img {
        transform: translate(-20px, -20px);
    }

    p {
        margin: 30px 0 20px;
    }

    &__col {
        justify-self: start;
    }

    form {
        display: flex;
        flex-direction: column;
    }

    .btn-border {
        width: 340px;
        height: 60px;
        margin-top: 40px;
    }


    @media screen and (max-width: $smDesktopWidth) {
        .container {
            grid-template: auto / auto auto;
            gap: 30px;
            justify-content: center;
        }

        &__image {
            width: 250px;
            height: 250px;
            align-self: start;
            margin-top: 15px;
        }
    }

    @media screen and (max-width: $tableWidth) {
        .container {
            grid-template: 1fr / 1fr;
            gap: 30px;
            justify-content: center;
        }

        &__col {
            justify-self: center;
        }

        &__image {
            display: none;
        }

        .line {
            width: auto;
            margin: 0 15px;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        &__col {
            text-align: center;
            width: 100%;
        }

        .btn-border {
            width: 100%;
        }
    }
}