.footer {
    border-top: 1px solid $accentColor;

    .footer__container {
        margin-top: 70px;
        display: grid;
        grid-template: 180px / repeat(4, minmax(170px, 235px));
    }

    .logo {
        place-self: start;
        font-size: 25px;
    }

    &__address,
    &__phone,
    &__socials {
        place-self: start end;
    }

    &__socials {
        display: flex;
        margin: -15px -15px 0 -15px;
        order: 1;

        a {
            font-size: 24px;
            padding: 16px;
        }

        li:nth-child(3) a {
            font-size: 23px;
        }
    }

    h3 {
        margin-bottom: 15px;
    }

    p {
        line-height: 1.85;
    }

    hr {
        border: none;
        border-bottom: 1px solid $accentColor;
    }

    &__policyContainer {
        min-height: 55px;
        display: flex;
        justify-content: space-between;
    }

    &__copyrights {
        font-size: 10px;
        color: $defaultColor;
        place-self: center start;
    }

    &__policyLink {
        place-self: center end;

        height: 100%;
        font-size: 10px;
        color: $defaultColor;

        &:hover,
        &:focus {
            color: $accentColor;
        }
    }

    @media screen and (max-width: $smDesktopWidth) {
        .footer__container {
            margin-top: 30px;
            grid-template: 60px 120px / repeat(2, 1fr);
            grid-column-gap: 50px;
        }

        h3 {
            margin-bottom: 5px;
        }

        &__socials {
            order: unset;
        }

        &__address,
        &__phone,
        &__socials {
            place-self: start;
        }
    }

    @media screen and (max-width: $smTableWidth) {
        &__policyContainer {
            flex-direction: column;
            padding-bottom: 10px;
            line-height: 2.5;
        }
    }

    @media screen and (max-width: $phoneWidth) {
        .footer__container {
            margin-top: 20px;
            grid-template: 40px repeat(2, 100px) 60px / 1fr;
        }

        .logo,
        &__address,
        &__phone,
        &__socials {
            place-self: center;
            text-align: center;
        }

        &__socials {
            order: 1;
        }
    }
}