.modal {

    &__header {
        display: none;
    }

    &.open,
    &.success,
    &.error {
        position: fixed;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        outline: 100px solid red;

        display: flex;
        justify-content: center;
        align-items: center;

        backdrop-filter: blur(5px);
        background: #26252799;

        .modal__wrapper {
            padding: 0 25px;
        }

        #closeModal {
            display: block;
            margin-left: auto;
            font-size: 35px;
            padding: 20px 0 10px 10px;
        }

        .modal__header {
            display: block;
        }
    }

    &.open {
        .modal__wrapper {
            width: 410px;
            height: 475px;
            background: #19191A no-repeat url(../images/background/modalCallback.jpg);
            background-size: 100%;
        }

        h3 {
            margin: -5px 0 20px;
            font-size: 24px;
            color: $accentColor;
            text-align: center;
            letter-spacing: 2.5px;
        }

        p {
            text-align: center;
        }

        .modal__inputForm {
            display: none;
        }

        .modal__error {
            display: none;
        }
    }

    &.success {
        .modal__wrapper {
            height: 475px;
            width: 600px;
            background: #000 no-repeat bottom center/100% url(../images/background/modalSuccess.jpg);
        }

        h3 {
            margin: -5px 0 10px;
            font-size: 48px;
            color: $accentColor;
            text-align: left;
            letter-spacing: 2.5px;
            font-weight: 600;
        }

        p {
            max-width: 180px;
        }

        .modal__inputForm {
            display: none;
        }

        .modal__error {
            display: none;
        }

        form {
            display: none;
        }
    }

    &.error {
        .modal__wrapper {
            height: 475px;
            width: 600px;
            background: #000 no-repeat bottom center/100% url(../images/background/modalSuccess.jpg);
        }

        .modal__inputForm {
            display: none;
        }

        .modal__success {
            display: none;
        }

        form {
            display: none;
        }
    }
}