.slider__navContainer {
    margin-top: 105px;
}

.slider__nav {
    max-width: 520px;
    width: 100%;
}

.slider__scrollBar {
    height: 8px;
    border: 1px solid $accentColor;
    border-radius: 4px;
    flex-grow: 1;

    .swiper-scrollbar-drag {
        height: 7px;
        border-radius: 4px;
        background: $accentColor;
    }
}

.slider__pagination {
    margin-top: 25px;
    position: static;
    color: $accentColor;
    text-align: left;

    .swiper-pagination-current {
        font-size: 20px;
        font-weight: 700;
        font-style: normal;
    }

    .swiper-pagination-total {
        font-size: 18px;
        font-weight: 300;
    }
}