*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $defaultColor;

    scroll-behavior: smooth;

    @media screen and (max-width: $desktopWidth) {
        font-size: 12px;
    }

    @media screen and (max-width: $tableWidth) {
        font-size: 8px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: $backgroundColor;
}

main {
    margin: 0 auto;
    max-width: 1920px;
    background: repeat-y center/100% url(../images/background/mainBg.jpg);
    overflow: hidden;
    position: relative;
}

.container {
    margin: 0 auto;
    max-width: 1600px;
}

.container,
.containerFluid {
    padding: 0 30px;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3 {
    margin: 0;
}

h1 {
    font-size: rem(48);
    line-height: 1.25;
    color: $defaultColor;
    font-family: Georgia;
    font-size: 48px;
    font-weight: bold;
    line-height: 1.25;
}

h2 {
    text-transform: uppercase;
    font-size: rem(36);
    color: $defaultColor;
    line-height: 1.5;
}

h3 {
    text-transform: uppercase;
    // font-size: rem(18);
    font-size: 18px;
    color: $defaultColor;
    line-height: normal;
}

p {
    color: $defaultColor;
}

a,
button {
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: $accentColor;
    user-select: none;

    &:hover,
    &:focus {
        color: $defaultColor;
    }
}

a {
    display: inline-flex;
    text-decoration: none;
    border-bottom: 1px solid $accentColor;
    padding-bottom: 1px;

    &:hover,
    &:focus {
        border-color: $defaultColor;
    }
}

button {
    display: flex;
    background: transparent;
    cursor: pointer;
}

.btn-border {

    &:hover,
    &:focus {
        background-color: $accentColor;
    }
}

.btn-solid {
    color: $defaultColor;
    background-color: $accentColor;

    &:hover,
    &:focus {
        background-color: transparent;
    }
}

.btn-border,
.btn-solid {
    border: 1px solid $accentColor;
}

section {
    padding: 50px 0;
}

.line {
    border-bottom: 1px solid $accentColor;
    display: flex;
    justify-content: space-between;

    i {
        font-size: 8px;
        line-height: 0;
        color: $accentColor;
    }
}

input[type="email"] {
    font-family: inherit;
    font-size: 16px;

    ::placeholder {
        color: $defaultColor;
    }
}

.socials {
    color: $accentColor;

    a:hover i,
    a:focus i {
        color: $accentColor;
    }
}