// .story {
//     // peper / kebab stiks / basil / platter
//     background: url(../images/webp/parallax/02story/item0.webp),
//         url(../images/webp/parallax/02story/item1.webp),
//         url(../images/webp/parallax/02story/item2.webp),
//         url(../images/webp/parallax/02story/item3.webp);
//     background-repeat: no-repeat;
//     background-position: left top, left bottom, center bottom, right bottom -100px;
//     background-size: 100px, 100px, 100px, 22%;
// }

// .tiles {
//     // onion / onion / bay leaves / bay leaves
//     background: url(../images/webp/parallax/03tiles/item0.webp),
//         url(../images/webp/parallax/03tiles/item1.webp),
//         url(../images/webp/parallax/03tiles/item2.webp),
//         url(../images/webp/parallax/03tiles/item3.webp);
//     background-repeat: no-repeat;
//     background-position: left 100px bottom 100px, left bottom, center bottom, top right;
//     background-size: 100px, 100px, 100px, 100px;
// }

// .sliderKit {
//     background: url(../images/webp/parallax/04sliderKit/item0.webp);
//     background-repeat: no-repeat;
//     background-position: left bottom;
//     background-size: 100px;
// }

// .order {
//     // tomatoes / leaves
//     background: url(../images/webp/parallax/06order/item0.webp),
//         url(../images/webp/parallax/06order/item1.webp);
//     background-repeat: no-repeat;
//     background-position: left top, right bottom;
//     background-size: 200px, 200px;
// }

// .cardsWho {
//     // salt - fork
//     background: url(../images/webp/parallax/07cardsWho/item0.webp),
//         url(../images/webp/parallax/07cardsWho/item1.webp);
//     background-repeat: no-repeat;
//     background-position: left bottom, right bottom;
//     background-size: 100px, 100px;
// }

// .cardsCompare {
//     // leaves / leaves / skillet
//     background: url(../images/webp/parallax/09cardsCompare/item0.webp),
//         url(../images/webp/parallax/09cardsCompare/item1.webp),
//         url(../images/webp/parallax/09cardsCompare/item2.webp);
//     background-repeat: no-repeat;
//     background-position: center top, center top 50px, left bottom;
//     background-size: 100px, 100px, 200px;
// }

// .cardsOrder {
//     // salt / bottle
//     background: url(../images/webp/parallax/10cardsOrder/item0.webp),
//         url(../images/webp/parallax/10cardsOrder/item1.webp);
//     background-repeat: no-repeat;
//     background-position: left bottom, right bottom;
//     background-size: 300px, 150px;
// }

// .questionsForm {
//     // leaf / leaf / salt
//     background: url(../images/webp/parallax/12questionsForm/item0.webp),
//         url(../images/webp/parallax/12questionsForm/item1.webp),
//         url(../images/webp/parallax/12questionsForm/item2.webp);
//     background-repeat: no-repeat;
//     background-position: left top, left center, right center;
//     background-size: 100px, 100px, 100px;
// }

// .footer {
//     background: url(../images/webp/parallax/footer/item0.webp),
//         url(../images/webp/parallax/footer/item1.webp);
//     background-repeat: no-repeat;
//     background-position: left bottom, right bottom;
//     background-size: 300px, 300px;
// }

.parallaxTop,
.parallaxMiddle,
.parallaxBottom,
.parallaxBg {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    z-index: -1;
    background-repeat: no-repeat;
}

// .questionsForm {
//     // leaf / leaf / salt
//     background: url(../images/webp/parallax/12questionsForm/item0.webp),
//         url(../images/webp/parallax/12questionsForm/item1.webp),
//         url(../images/webp/parallax/12questionsForm/item2.webp);
//     background-repeat: no-repeat;
//     background-position: left top, left center, right center;
//     background-size: 100px, 100px, 100px;
// }

// .footer {
//     background: url(../images/webp/parallax/footer/item0.webp),
//         url(../images/webp/parallax/footer/item1.webp);
//     background-repeat: no-repeat;
//     background-position: left bottom, right bottom;
//     background-size: 300px, 300px;
// }

.parallaxTop {
    background-image: url(../images/webp/parallax/02story/item1.webp), // 02 kebab stiks
        url(../images/webp/parallax/02story/item2.webp), // 02 basil
        url(../images/webp/parallax/03tiles/item0.webp), // 03 onion
        url(../images/webp/parallax/04sliderKit/item0.webp), // 04 skillet
        url(../images/webp/parallax/06order/item0.webp), // 06 tomatoes
        url(../images/webp/parallax/07cardsWho/item0.webp), // 07 salt
        url(../images/webp/parallax/09cardsCompare/item0.webp), // 09 leaves
        url(../images/webp/parallax/10cardsOrder/item0.webp), // 10 salt
        url(../images/webp/parallax/12questionsForm/item0.webp) // 12 leaf
    ;

    background-position: left top 1300px,
        center top 1450px,
        left top 2250px,
        left top 3250px,
        left top 4700px,
        left top 5000px,
        center top 6200px,
        left top 7700px,
        left top 9010px;

    background-size: 280px,
        100px,
        100px,
        150px,
        200px,
        200px,
        200px,
        400px,
        150px;

    top: 0;
    // top: 1200px;
    // bottom: 0;
}

.parallaxMiddle {
    background-image: url(../images/webp/parallax/02story/item0.webp), // 02 peper
        url(../images/webp/parallax/03tiles/item1.webp), //03onion
        url(../images/webp/parallax/03tiles/item2.webp), //03weed
        url(../images/webp/parallax/06order/item1.webp), // 06 leaves
        url(../images/webp/parallax/07cardsWho/item1.webp), // 07 fork
        url(../images/webp/parallax/09cardsCompare/item1.webp), // 09 leaves
        url(../images/webp/parallax/10cardsOrder/item1.webp), // 10 bottle
        url(../images/webp/parallax/12questionsForm/item1.webp), // 10 leaf
        url(../images/webp/parallax/12questionsForm/item1.webp) // 12 leaf
    ;

    background-position: left top 1250px,
        left top 2250px,
        right top 2250px,
        right top 5200px,
        right top 5600px,
        center top 6800px,
        right top 8400px,
        right top 9700px;

    background-size: 150px,
        100px,
        100px,
        200px,
        300px,
        150px,
        150px,
        150px;

    top: 0;
}

.parallaxBottom {
    background-image: url(../images/webp/parallax/02story/item3.webp), // 02 platter
        url(../images/webp/parallax/03tiles/item3.webp), // 03 weed
        url(../images/webp/parallax/09cardsCompare/item2.webp), // 09 skillet
        url(../images/webp/parallax/12questionsForm/item2.webp) // 12 salt
    ;

    background-position: right top 1300px,
        right top 2550px,
        left top 8200px,
        left top 8500px;

    background-size: 22%,
        100px,
        300px,
        300px;

    top: 0;
}

.parallaxBg {
    background: repeat-y center top / 100% url(../images/background/mainBg.jpg);
    top: 0;
}