@media (print),
(prefers-reduced-motion) {
    * {
        animation: unset !important;
        transition: none !important;
    }
}

.preview__card {
    transform: translateZ(-2000px) rotateX(270deg);
}

.preview__cards-section.active {

    .preview__cards {

        transform-style: preserve-3d;
        perspective: 500px;

        >div:first-of-type {
            animation-duration: 0.8s;
        }

        >div:nth-of-type(2) {
            animation-duration: 1s;
            animation-delay: 0.2s
        }

        >div:nth-of-type(3) {
            animation-duration: 1.2s;
            animation-delay: 0.4s
        }

        .preview__card {
            animation: animate-flip-in forwards;
            animation-timing-function: cubic-bezier(.06, 1.3, .47, 1);

            @keyframes animate-flip-in {
                to {
                    opacity: 1;
                    transform: translateZ(0) rotateX(0);
                }
            }
        }
    }
}

.button-play-animated {
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;

    i::before {
        display: flex;
        align-items: center;
        justify-content: center;


        width: rem(120);
        height: rem(120);
        border-radius: 50%;
        line-height: 0;

        font-size: 45px;
        letter-spacing: -5px;
        color: $accent-color1;
        mix-blend-mode: normal;
    }

    a {
        border-radius: 50%;
        backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 0.25);
        box-shadow: inset 0 0 0 0 #ffd503;

        &:hover,
        &:focus {
            transition: all 0.6s ease-in;
            box-shadow: inset 0 0 100px 100px #ffd503;
        }
    }

    &::before,
    &::after {
        content: "";
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: url(../images/svg/circle.svg);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: none;

        animation: previewCircles 2s linear infinite;

        @keyframes previewCircles {

            0% {
                background-size: 50%;
                opacity: 1;
            }

            50% {
                opacity: 1;
            }

            100% {
                background-size: 200%;
                opacity: 0.1;
            }
        }
    }

    &::after {
        animation-delay: 1s;
    }
}


.slide-bottom {
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation-delay: var(--i);
}

@keyframes slide-bottom {
    0% {
        opacity: 0;
        transform: translate(-100px, -150px);
    }

    10% {
        opacity: 1;
    }

    30% {
        transform: scale(3);
    }

    100% {
        transform: translateY(0);
    }
}