/* Fonts:
  https://github.com/vedees/webpack-template/blob/master/README.md#import-js-files
  ========================================================================== */

@import 'mixins';

/*
  One of the ways:
  1. handle method,
  2. use mixin;
*/

// 1. Example handle method (without mixin):

/*
  // Base Helvetica (example):
  @font-face {
    font-family: "Helvetica-Base";
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot'); // IE9 Compat Modes
    src: url('/assets/fonts/Helvetica/Base/Helvetica-Base.eot?#iefix') format('embedded-opentype'), // IE6-IE8
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.woff') format('woff'), // Pretty Modern Browsers
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.ttf')  format('truetype'), // Safari, Android, iOS
         url('/assets/fonts/Helvetica/Base/Helvetica-Base.svg') format('svg'); // Legacy iOS
  }
*/

// 2. Example with mixin (example):

/* NOTE:
  1. do NOT use expansion (.woff, .svg etc) for path! Path will be '/assets/fonts/OpenSans/opensans;
  2, files required: `.woff, .woffs` (by default) OR `eot. .woff, .woffs, .svg, .ttf` if you use another mixin.
*/

// Base OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensans");
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanslight", 300);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensanssemibold", 600);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansbold", bold);

// Italic OpenSans:
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansItalic", 400, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansLightItalic", 300, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansSemiBoldItalic", 600, italic);
// @include font-face("OpenSans", "/assets/fonts/OpenSans/opensansBoldItalic", bold, italic);

@font-face {
    font-family: "Poppins";
    font-weight: normal;
    style: normal;
    font-display: swap;
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: "Poppins";
    font-weight: 500;
    style: normal;
    font-display: swap;
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../fonts/Poppins-Medium.ttf') format('truetype');
}




@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?t7i2o5');
    src: url('../fonts/icomoon.eot?t7i2o5#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?t7i2o5') format('truetype'),
        url('../fonts/icomoon.woff?t7i2o5') format('woff'),
        url('../fonts/icomoon.svg?t7i2o5#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-chevron-left:before {
    content: "\e900";
    font-size: 55px;
    color: $font-color;
}

.icon-chevron-right:before {
    content: "\e901";
    font-size: 55px;
    color: $font-color;
}

.icon-instagram:before {
    content: "\e902";
}

.icon-telegram:before {
    content: "\e903";
}

.icon-linkedin:before {
    content: "\e904";
}

.icon-behance:before {
    content: "\e905";
}

.icon-dribble:before {
    content: "\e906";
}

.icon-flash {
    margin-top: -8px;

    &:before {
        content: "\e907";
        font-size: 35px;
    }
}

.icon-play:before {
    content: "\e908";
}

.icon-features1 .path1:before {
    content: "\e914";
    color: rgb(239, 189, 13);
    opacity: 0.1;
}

.icon-features1 .path2:before {
    content: "\e915";
    margin-left: -1em;
    color: rgb(255, 216, 78);
}

.icon-features1 .path3:before {
    content: "\e916";
    margin-left: -1em;
    color: rgb(255, 216, 78);
}

.icon-features2 .path1:before {
    content: "\e917";
    color: rgb(251, 99, 99);
    opacity: 0.1;
}

.icon-features2 .path2:before {
    content: "\e918";
    margin-left: -1em;
    color: rgb(251, 99, 99);
}

.icon-features2 .path3:before {
    content: "\e919";
    margin-left: -1em;
    color: rgb(251, 99, 99);
}

.icon-features3 .path1:before {
    content: "\e923";
    color: rgb(166, 109, 245);
    opacity: 0.1;
}

.icon-features3 .path2:before {
    content: "\e924";
    margin-left: -1em;
    color: rgb(166, 109, 245);
}

.icon-features3 .path3:before {
    content: "\e925";
    margin-left: -1em;
    color: rgb(166, 109, 245);
}

.icon-features4 .path1:before {
    content: "\e91d";
    color: rgb(109, 214, 176);
    opacity: 0.1;
}

.icon-features4 .path2:before {
    content: "\e91e";
    margin-left: -0.9912109375em;
    color: rgb(109, 214, 176);
}

.icon-features4 .path3:before {
    content: "\e91f";
    margin-left: -0.9912109375em;
    color: rgb(109, 214, 176);
}

.icon-features5 .path1:before {
    content: "\e920";
    color: rgb(112, 140, 240);
    opacity: 0.1;
}

.icon-features5 .path2:before {
    content: "\e921";
    margin-left: -0.9912109375em;
    color: rgb(112, 140, 240);
}

.icon-features5 .path3:before {
    content: "\e922";
    margin-left: -0.9912109375em;
    color: rgb(112, 140, 240);
}

.icon-features6 .path1:before {
    content: "\e91a";
    color: rgb(166, 109, 245);
    opacity: 0.1;
}

.icon-features6 .path2:before {
    content: "\e91b";
    margin-left: -0.9912109375em;
    color: rgb(160, 46, 142);
}

.icon-features6 .path3:before {
    content: "\e91c";
    margin-left: -0.9912109375em;
    color: rgb(160, 46, 142);
}

.icon-add .path1:before {
    content: "\e909";
    opacity: 0.3;
    font-size: 40px;
    margin-left: 8px;
}

.icon-add .path2:before {
    content: "\e90a";
    margin-left: -1.1em;
    font-size: 40px;
}