html {
    line-height: $mainLineHeight;
    font-size: $mainFontSize;
    color: $mainFontColor;
    height: 100%;

    scroll-behavior: smooth;

    @media screen and (max-width: $desktopWidth) {
        font-size: 12px;
    }

    @media screen and (max-width: $tableWidth) {
        font-size: 8px;
    }

    @media screen and (max-width: $phoneWidth) {
        font-size: 7px;
    }

    @media screen and (max-width: $smPhoneWidth) {
        font-size: 6px;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: $mainFont;
    font-size: $mainFontSize;
    font-weight: $mainFontWeight;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

main {
    max-width: 1920px;
    margin: 0 auto;
    overflow: hidden;
}

img {
    display: block;
    object-fit: cover;
}

h1 {
    font-size: rem(105);
    line-height: 1.3;
    color: $default-color;
}

h2 {
    font-size: rem(60);
    color: $font-color;
}

h3 {
    font-size: rem(40);
    color: $font-color;
}

h4 {
    font-size: rem(32);
    color: $font-color;
}

p {
    color: $font-color-light;
}

p,
span,
b {
    @media screen and (max-width: $phoneWidth) {
        font-size: 14px;
    }

    @media screen and (max-width: $smPhoneWidth) {
        font-size: 12px;
    }
}

div {
    color: $font-color;
}

span {
    color: $accent-color1;
}

b {
    color: $default-color;
    font-size: 18px;
    font-weight: 500;
    padding: 4px;
}

a {
    display: block;
    font-size: 12px;
    text-decoration: none;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: 1px;

    &:hover,
    &:focus {
        color: $accent-color2 !important;
    }
}

button,
.button-yellow-border,
.button-yellow-solid,
.button-yellow-solid-lg {
    display: flex;
    align-items: center;
    justify-content: center;

    background: transparent;
    text-transform: uppercase;
    font-family: inherit;
    cursor: pointer;
    user-select: none;
    font-size: 14px;

    &:hover,
    &:focus {
        color: $accent-color2;
    }
}

.button-yellow-border {
    border: 2px solid $accent-color2;
    width: 165px;
    height: 50px;
    border-radius: 25px;
    color: $accent-color2;

    i {
        margin-left: 8px;
        font-size: 28px;
        color: inherit;
    }

    &:hover,
    &:focus {
        color: $default-color;
        background-color: rgba(255, 255, 255, 0.1);
    }
}

.button-yellow-solid,
.button-yellow-solid-lg {
    width: 160px;
    height: 50px;
    border-radius: 25px;
    color: $font-color;

    background: linear-gradient(#dfba06 5%, #ffd815, #dfba06 95%);

    i {
        margin-left: 8px;
        font-size: 28px;
        color: inherit;
    }

    span {
        color: $font-color;
    }

    &:hover,
    &:focus {
        color: $default-color;

        span {
            color: $default-color;
        }
    }

    @media screen and (max-width: $smPhoneWidth) {
        width: auto;
    }
}

.button-yellow-solid-lg {
    height: 80px;
    border-radius: 40px;
    font-size: 22px;

    @media screen and (max-width: $phoneWidth) {
        height: 60px;
        border-radius: 30px;
        font-size: 18px;
    }

    @media screen and (max-width: $smPhoneWidth) {
        height: 50px;
        border-radius: 25px;
        font-size: 14px;
    }
}

input[type="email"] {
    padding: 10px 25px;

    font-family: inherit;
    font-size: 16px;
    color: $font-color;

    transition: background-color 0.1s linear, box-shadow 0.1s linear;

    ::placeholder {
        color: $font-color-light;
    }
}

.socials {
    display: flex;
    gap: 10px;

    a:hover i,
    a:focus i {
        color: $accent-color2;
    }

    @media screen and (max-width: $smPhoneWidth) {
        gap: 2px;

        i::before {
            font-size: 30px;
        }
    }
}

.section {
    max-width: 1580px;
    margin: 140px auto;
    padding: 0 65px;

    @media screen and (max-width: $smDesktopWidth) {
        margin: 100px auto;
        padding: 0 30px;
    }

    @media screen and (max-width: $tableWidth) {
        margin: 80px auto;
        padding: 0 15px;
    }

    @media screen and (max-width: $phoneWidth) {
        margin: 60px auto;
        padding: 0 10px;
    }
}

// .container {
//     width: 100%;
//     flex: 0 0 auto;
//     position: relative;
//     margin: 0 auto;

//     @media screen and (max-width: $smDesktopWidth) {
//         max-width: $tableWidth;
//     }

//     @media screen and (max-width: $tableWidth) {
//         max-width: $phoneWidth;
//     }

//     @media screen and (max-width: $phoneWidth) {
//         max-width: $smPhoneWidth;
//     }
// }