/* Vars:
  ========================================================================== */

// Font
$mainFont : 'Poppins',
Helvetica,
Arial,
sans-serif;

// Size
$mainFontColor : #707070;
$mainFontSize : 16px;
$mainFontWeight : 400;
$mainLineHeight : 1.6;

$desktopWidth : 1280px;
$smDesktopWidth : 1024px;
$tableWidth : 768px;
$smTableWidth : 640px;
$phoneWidth : 480px;
$smPhoneWidth : 320px;

/*
  All colors taken from:
  https://github.com/vedees/uimini
*/

// Main color
$default-color : #ffffff;
$primary-color : #444ce0;
$success-color : #26de81;
$danger-color : #fc5c65;
$warning-color : #fed330;
$light-color : #999999;

$accent-color1 : #3fc2bb;
$accent-color2 : #ffd703;
$footer-color : #0b514d;
$footer-color : #0b514d;

$font-color : #373737;
$font-color-light : #707070;

// Features Color
$yellow : #ffd84e;
$coral : #fb6363;
$lilac : #a66df5;
$green : #6dd6b0;
$blue : #708cf0;
$violet : #a02e8e;

// Neutral Color
$neutral-primary : #303133;
$neutral-regular : #606266;
$neutral-secondary : #909399;
$neutral-placeholder : #C0C4CC;

// Border Color
$border-base : #DCDFE6;
$border-light : #E4E7ED;
$border-lighter : #EBEEF5;
$border-lightex : #F2F6FC;