<footer class="footer">

  <div class="footer__container container">

    <a class="logo icon-logo" href="index.html"></a>

    <ul class="footer__socials">
      <li>
        <a class="icon-facebook" href="https://www.facebook.com" target='_blank'></a>
      </li>
      <li>
        <a class="icon-instagram" href="https://www.instagram.com" target='_blank'></a>
      </li>
      <li>
        <a class="icon-telegram" href="https://www.telegram.org" target='_blank'></a>
      </li>
    </ul>

    <div class="footer__address">
      <h3>приезжайте</h3>
      <address>
        г. Москва,<br>ул. Пушкина 1
      </address>
    </div>

    <div class="footer__phone">
      <h3>звоните</h3>
      <button data-callback>+38 063 447 85 06</button>
      <button data-callback>+38 063 447 85 06</button>
    </div>

  </div><!-- end container -->

  <hr>

  <div class="footer__policyContainer container">
    <div class="footer__copyrights">© 2018- 2021 shampurok</div>
    <a class="footer__policyLink" href="#">Политика конфиденциальности</a>
    <a class="footer__policyLink" href="#">Пользовательское соглашение</a>
  </div>

  <img src="./assets/images/webp/background/chips/footer/item0.webp" alt="background">
  <img src="./assets/images/webp/background/chips/footer/item1.webp" alt="background">

</footer><!-- end footer -->