<footer class="footer">
  <div class="container">

    <a class="logo icon-logo" href="index.html"></a>

    <div class="footer__address">
      <h3>приезжайте</h3>
      <address>
        г.Харьков,<br>
        ул. Тюринская 147
      </address>
    </div>

    <div class="footer__phone">
      <h3>звоните</h3>
      <p>+38 063 447 85 06</p>
      <p>+38 063 447 85 08</p>
    </div>

    <ul class="footer__socials">
      <li>
        <a class="icon-facebook" href="https://www.facebook.com" target='_blank'></a>
      </li>
      <li>
        <a class="icon-instagram" href="https://www.instagram.com" target='_blank'></a>
      </li>
      <li>
        <a class="icon-telegram" href="https://www.telegram.org" target='_blank'></a>
      </li>
    </ul>

    <div class="footer__copyrights">© 2018- 2021 shampurok</div>
    <a class="footer__policyLink" href="#">Политика конфиденциальности</a>
    <a class="footer__policyLink" href="#">Пользовательское соглашение</a>

  </div><!-- container -->
</footer><!-- end footer -->