<header class="header">
  <div class="container">

    <a class="logo" href="index.html"><i class='icon-logo'></i></a>

    <ul class="header__submenu">
      <li>
        <a class="header__address" href="https://goo.gl/maps/3rhuPXA11qH9GmZz5" target="_blank"><i class="icon-mapPin"></i>
          <address>г. Москва,<br>ул. Пушкина 1</address>
        </a>
      </li>
      <li>
        <button class="header__phone" data-callback><span>+7 800 200 06 00</span><i class="icon-phone"></i></button>
      </li>
      <li>
        <button class="header__openMenuBtn" type="button" aria-label="Menu" aria-controls="navigation">
          <span>меню</span>
          <div>
            <i class="icon-menu"></i>
            <i class="icon-menu"></i>
            <i class="icon-menu"></i>
          </div>
        </button>
      </li><!-- end open menu btn -->
    </ul><!-- end header submenu -->

    <nav>
      <ul class="header__socials">
        <li>
          <a class="link icon-facebook" href="https://www.facebook.com" target='_blank'></a>
        </li>
        <li>
          <a class="link icon-instagram" href="https://www.instagram.com" target='_blank'></a>
        </li>
        <li>
          <a class="link icon-telegram" href="https://www.telegram.org" target='_blank'></a>
        </li>
      </ul><!-- end header socials -->

      <ul class="header__menu" data-simplebar data-simplebar-auto-hide="false">
        <li>
          <button tabindex="-1" class="icon-close"></button>
        </li>
        <li>
          <button tabindex="-1">главный</button>
        </li>
        <li>
          <button tabindex="-1">преимущества кейсов</button>
        </li>
        <li>
          <button tabindex="-1">выбор кейсов</button>
        </li>
        <li>
          <button tabindex="-1">кейсы с гравировкой</button>
        </li>
        <li>
          <button tabindex="-1">подбор кейсов</button>
        </li>
        <li>
          <button tabindex="-1">почему мы</button>
        </li>
        <li>
          <button tabindex="-1">сравнить кейсы</button>
        </li>
        <li>
          <button tabindex="-1">как оформить заказ</button>
        </li>
        <li>
          <button tabindex="-1">обратная связь</button>
        </li>
        <li>
          <button tabindex="-1">контакты</button>
        </li>
      </ul>
    </nav><!-- end header menu -->
  </div><!-- end container -->
</header><!-- end header -->