<header class="header">
  <div class="container">

    <a class="logo" href="index.html"><i class='icon-logo'></i></a>

    <ul>
      <li>
        <a class="header__address" href="#"><i class="icon-mapPin"></i><span>г. Москва,<br>ул. Пушкина 123</span></a>
      </li>
      <li>
        <a class="header__phone" href="tel:88002000600">+7 800 200 06 00</a>
      </li>
      <li>
        <button class="header__hamburger" type="button" aria-label="Menu" aria-controls="navigation">
          меню
          <i class="icon-menu"></i>
          <i class="icon-menuClose"></i>
        </button>
      </li>
    </ul>

    <!-- <nav>
      <a href="#"></a>
    </nav> -->

  </div><!-- end container -->
</header><!-- end header -->