<!--
------------------------------------------------------------- Modal product card -->
<div class="modalProductCard modal-wrapper" data-modal>
  <div class="modalProductCard__container" data-simplebar data-simplebar-auto-hide="false">
    <div class="modalProductCard__content">

      <button class="icon-close" data-close></button>

      <div class="modalProductCard__row">

        <div class="modalProductCard__colSlider">
          <div class="modalProductCard__sliderBorder">

            <div class="swiper-container" id='cubicle'>
              <div class="swiper-wrapper">

                <div class="swiper-slide">
                  <div class="swiper-zoom-container">
                    <img src='' alt=''>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-zoom-container">
                    <img src='' alt=''>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-zoom-container">
                    <img src='' alt=''>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="swiper-zoom-container">
                    <img src='' alt=''>
                  </div>
                </div>

              </div>
            </div>

          </div>

          <div class="swiper-pagination"></div>

        </div><!-- end slider col -->

        <div class="modalProductCard__colDescription">
          <h3></h3>
          <ul></ul>
          <button class="btn-border" data-callback>оформить заказ</button>
        </div><!-- end description col -->

      </div><!-- end row -->

    </div><!-- end content -->
  </div><!-- end container(background) -->
</div><!-- end modal-wrapper -->


<!--
------------------------------------------------------------- Modal thanks -->
<div class="modalThanks modal-wrapper" data-modal>
  <div>
    <button class="icon-close" data-close></button>
    <h3>Спасибо</h3>
    <p>Ваша заявка принята в обработку.</p>
  </div>
</div><!-- end modal thanks -->


<!--
------------------------------------------------------------- Modal error -->
<div class="modalError modal-wrapper" data-modal>
  <div>
    <button class="icon-close" data-close></button>
    <p>Ошибка сети</p>
    <p>Попробуйте еще раз...</p>
  </div>
</div><!-- end modal error -->


<!--
------------------------------------------------------------- Modal order -->
<div class="modalOrder modal-wrapper" data-modal>
  <div class="modalOrder__container" data-simplebar data-simplebar-auto-hide="false">

    <div class="modalOrder__header">
      <div class="modalOrder__progress">
        <div class="modalOrder__bar">
          <div></div>
        </div>
        <div class="modalOrder__steps">
          <span class="active">01</span>
          <span>02</span>
          <span>03</span>
          <span>04</span>
          <span>05</span>
          <span>06</span>
          <span>07</span>
        </div>
      </div>
      <button class="icon-close" data-close></button>
    </div><!-- end header -->

    <div class="modalOrder__row">
      <!-- -----------------------------------------------content -->
    </div>

  </div><!-- end container -->
</div><!-- end modal Order -->