<button class="icon-close"></button>
<div class="modalProductCard__row">


  <div class="modalProductCard__colSlider">
    <div class="modalProductCard__sliderBorder">

      <div class="swiper-container" id='cubicle'>
        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./assets/images/sliderKit/kit1/slide1.jpg" alt="bbq set">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./assets/images/sliderKit/kit1/slide2.jpg" alt="bbq set">
            </div>
          </div>

          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./assets/images/sliderKit/kit1/slide3.jpg" alt="bbq set">
            </div>
          </div>
          <div class="swiper-slide">
            <div class="swiper-zoom-container">
              <img src="./assets/images/sliderKit/kit1/slide4.jpg" alt="bbq set">
            </div>
          </div>

        </div>
      </div>

    </div><!-- end border -->

    <div class="swiper-pagination" id=thumbnails></div>
  </div><!-- end swiper -->


  <div class="modalProductCard__colDescription">
    <h3>Кейс “шампурок”</h3>
    <ul>
      <li>8 шампуров 640х12х3мм</li>
      <li>двойной шампур</li>
      <li>щипцы для барбекю</li>
      <li>фляга</li>
      <li>6 рюмок</li>
      <li>6 стаканов</li>
      <li>тесак</li>
      <li>нож охотничий</li>
      <li>штопор</li>
      <li>турбозажигалка</li>
      <li>мангал</li>
      <li>6 вилок</li>
      <li>6 ложек</li>
      <li>6 тарелок</li>
    </ul>
    <button class="btn-border" data-callback>оформить заказ</button>
  </div><!-- end col description -->


</div><!-- end row -->