<div class="modalOrder modal-wrapper open" data-modal>
  <div class="modalOrder__container" data-simplebar data-simplebar-auto-hide="false">

    <div class="modalOrder__header">
      <div class="modalOrder__progress">
        <div class="modalOrder__bar">
          <div></div>
        </div>
        <div class="modalOrder__steps">
          <span class="active">01</span>
          <span>02</span>
          <span>03</span>
          <span>04</span>
          <span>05</span>
          <span>06</span>
          <span>07</span>
        </div>
      </div>
      <button class="icon-close" data-close></button>
    </div><!-- end header -->

    <div class="modalOrder__row">

      <div class="modalOrder__col">
        <h2>С посудой или без ?</h2>

        <!-- <p data-hide data-step="6">заполните форму и Ваш персональный менеджер
            свяжется с Вами в ближайшее время</p> -->

        <form action="POST" name='order'>

          <div class="modalOrder__formCol">
            <!-- <label class="radio">
                <input type="radio" name=' gift' checked>
                <span>для себя</span>
              </label> -->

            <label class="input-text">
              <input type="text" autocomplete="off" required>
              <span>Ваше имя</span>
            </label>

            <label class="input-text">
              <input type="text" autocomplete="off" required>
              <span>Ваш телефон</span>
            </label>

            <!-- <span data-hide data-step="1">1</span>
              <span data-hide data-step="2">2</span>
              <span data-hide data-step="3">3</span> -->

          </div>

          <div class="modalOrder__formCol">

            <!-- <span data-hide data-step="1">1</span>
              <span data-hide data-step="2">2</span>
              <span data-hide data-step="3">3</span> -->

            <!-- <label class="radio">
                <input type="radio" name='gift'>
                <span>хочу сделать подарок</span>
              </label> -->
            <button class="btn-solid">отправить</button>
          </div>

        </form><!-- end form -->

        <div class="modalOrder__nav">
          <button class="btn-border">назад</button>
          <button class="btn-solid">далее</button>
        </div>

      </div><!-- end col -->

      <div class="modalOrder__imageFrame">
        <img src="./assets//images/quizImages/quiz1.jpg" alt="quiz img">
      </div>

    </div><!-- end content row -->
  </div><!-- end quiz container -->
</div><!-- end modal quiz -->