.modalCallBack {
    &__header {
        display: none;
    }

    &.open {
        .modalCallBack__container {
            width: 100%;
            max-width: 410px;
            padding: 0 25px 55px;
            background: no-repeat center/cover url(../images/background/modalCallback.jpg);
        }

        .modalCallBack__header {
            display: block;
        }

        .icon-close {
            display: block;
            margin-left: auto;
            font-size: 35px;
            padding: 20px 0 10px 10px;
        }

        h3 {
            margin: -5px 0 20px;
            font-size: 24px;
            color: $accentColor;
            text-align: center;
            letter-spacing: 2.5px;
        }

        p {
            text-align: center;
        }
    }
}